<mat-sidenav-container class="sidenav" hasBackdrop>
  <mat-sidenav #sidenav mode="over" class="menu bg-grey">
    <button routerLink="/home" class="link" routerLinkActive="active">
      <mat-icon class="icon green">home</mat-icon> Home
    </button>
    <button routerLink="/projects" class="link" routerLinkActive="active">
      <mat-icon class="icon green">folder</mat-icon> Projects
    </button>
    <button routerLink="/about" class="link" routerLinkActive="active">
      <mat-icon class="icon green">person_search</mat-icon> About
    </button>
    <a class="link" href="mailto:contact@higueradev.com" title="Send a Mail"
      ><mat-icon class="icon green">email</mat-icon> Contact</a
    >
    <hr class="separator" />
    <p>Follow me:</p>
    <app-social></app-social>
  </mat-sidenav>
  <mat-sidenav-content classs="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
