<mat-toolbar color="primary" class="header">
  <div class="wrapper">
    <button
      aria-label="Button to Open Menu"
      matTooltip="Toggle Menu"
      class="menu-button green"
      (click)="onMenuClick()"
    >
      <ng-template #codeIcon>
        <mat-icon >code</mat-icon>
      </ng-template>
      <mat-icon *ngIf="!(menuOpened$ | async) else codeIcon">menu</mat-icon>
    </button>
    <a routerLink="/home" aria-label="Link to Go Homepage" matTooltip="Go Home"
      ><app-logo class="logo" width="20px"></app-logo><span class="title">higueraDev</span></a
    >
    <div class="cta-wrap">
      <div class="love-wrapper">
        <span>{{ (like$ | async)?.count }}</span>
        <button
          aria-label="Button to Give a Like on this Site"
          matTooltip="Give a Like"
          matRipple
          matRippleColor="rgba(255,255,0,.5)"
          [matRippleCentered]="true"
          [matRippleUnbounded]="true"
          (click)="onLike()"
          mat-icon-button
        >
          <mat-icon color="accent" class="love-icon" >favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
