<mat-toolbar color="primary" class="header">
  <div class="wrapper">
    <button aria-label="Button to Open Menu" matTooltip="Toggle Menu" mat-mini-fab class="code-icon green" (click)="onMenuClick()">
      <mat-icon>code</mat-icon>
    </button>
    <a routerLink="/home" aria-label="Link to Go Homepage" matTooltip="Go Home"><span class="title">higueraDev</span></a>
    <div class="cta-wrap">
      <div class="love-wrapper">
        <span>{{likes}}</span>
        <button aria-label="Button to Give a Like on this Site" matRipple matRippleColor="rgba(255,255,0,.5)" [matRippleCentered]="true" [matRippleUnbounded]="true" (click)="onLike()" mat-icon-button >
          <mat-icon color="accent" class="love-icon">favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
