<section class="section section--light" >
  <mat-card class="card">
    <div class="wrapper wrapper--left">
      <mat-icon class="yellow icon">auto_awesome</mat-icon>
    </div>
    <mat-card-header>
      <h2 class="section__title section__title--introduction">
        Do you love that kind of stuff too?
      </h2>
    </mat-card-header>
    <mat-card-content class="questions-wrapper">
      <p>
        Awesome!... we could have an insteresting conversation about this and
        a lot of other topics. I mean AGILE methodologies, CLEAN arquitecture,
        SOLID principles, design patterns, web development, blockchain,
        crypto-things, Metaverse and the future of the information technology.
      </p>
    </mat-card-content>
  </mat-card>
</section>
