<section class="section section--dark" >
  <mat-card class="card">
    <div class="wrapper wrapper--right">
      <mat-icon class="green icon"
        ><span class="material-symbols-outlined">
          <span class="material-symbols-outlined"> rocket_launch </span>
        </span></mat-icon
      >
    </div>
    <mat-card-header>
      <h2 class="section__title">Why?</h2>
    </mat-card-header>
    <mat-card-content class="questions-wrapper">
      <p>Because like you I'm an apassionate geek that never stop learning</p>
    </mat-card-content>
  </mat-card>
</section>
