<section class="section section--dark">
  <mat-card class="card">
    <div class="wrapper wrapper--right">
      <mat-icon class="green icon"
        ><span class="material-symbols-outlined">
          <span class="material-symbols-outlined"> rocket_launch </span>
        </span></mat-icon
      >
    </div>
    <mat-card-header>
      <h2 class="section__title">Why?</h2>
    </mat-card-header>
    <mat-card-content class="questions-wrapper">
      <p>
        Because just like you I'm an apassionate geek who never stops learning,
        as
        <a href="https://platzi.com/p/higueraDev/" target="_blank"
          >Platzinauts</a
        >
        say.😉
      </p>
      <p>Anything you'd like to share, I'd appreciate it.</p>
      <p>And if you like my site, please click on the top right corner.</p>
      <p>Thanks!</p>
    </mat-card-content>
    <mat-card-actions class="button-wrapper">
      <a
        href="mailto:contact@higueradev.com"
        title="Send a Mail"
        mat-raised-button
        color="accent"
        ><mat-icon class="icon">email</mat-icon> Contact me</a
      >
    </mat-card-actions>
  </mat-card>
</section>
