<section class="section section--dark welcome">
  <mat-card class="card">
    <div class="card__icon-wrapper card__icon-wrapper--right">
      <mat-icon class="yellow card__icon">handshake</mat-icon>
    </div>
    <mat-card-header>
      <h2 class="section__title">I'm here to help you</h2>
    </mat-card-header>
    <mat-card-content class="card__content-wrapper bg-grey">
      <p class="text">
        The priority in my career is to meet people and help others grow along
        the same path as me.
      </p>
    </mat-card-content>
    <div class="banner">
      <app-image mat-card-image name="desk" class="image"></app-image>
      <p class="text banner__text">Thank you for visiting my site!</p>
    </div>
    <mat-card-actions class="button-wrapper">
      <a
        href="mailto:contact@higueradev.com"
        matTooltip="Download Resume PDF"
        mat-raised-button
        color="accent"
        class="mr-16"
        ><mat-icon class="icon">picture_as_pdf</mat-icon>Resume</a
      >
      <a
        href="mailto:contact@higueradev.com"
        matTooltip="Send a Mail"
        mat-raised-button
        color="accent"
        ><mat-icon class="icon">email</mat-icon> Contact me</a
      >
    </mat-card-actions>
  </mat-card>
</section>
