<main #main (scroll)="onScroll()" class="container">
  <app-hero title="Projects" (scroll)="scroll()"></app-hero>
  <app-catalog
    [sectionColor]="i % 2 !== 0 ? 'section--light' : 'section--dark'"
    *ngFor="let project of project$ | async; index as i"
    [project]="project"
    [class.active]="sectionActive > i + 1 - 0.2 && sectionActive < i + 2 - 0.5"
  ></app-catalog>
  <section
    *ngIf="(project$ | async)?.length === 0"
    class="section section--dark"
  >
    <h2>Oops!... I have some problems in the backend</h2>
    <p>Please try again later.</p>
    <app-logo width="100px"></app-logo>
  </section>
  <app-footer></app-footer>
</main>
