<section
class="section section--dark welcome"
>
<mat-card class="card">
  <div class="wrapper wrapper--right">
    <mat-icon class="yellow icon">tips_and_updates</mat-icon>
  </div>
  <mat-card-header>
    <h2 class="section__title">Did you know that...</h2>
  </mat-card-header>
  <mat-card-content class="questions-wrapper">
    <p>
      The software development now is being developed by cycles instead of a
      linear sequence of steps?
    </p>
    <p>
      The arquitecture of your software can be improved or changed on each
      of that iterations?
    </p>
    <p>
      The Test-driven development is a technique that allows you to build a
      more reliable and secure solution?
    </p>
  </mat-card-content>
</mat-card>
</section>
