@use "@angular/material" as mat;

$grey-palette: mat.define-palette(mat.$grey-palette);
$green-palette: mat.define-palette(mat.$green-palette);
$purple-palette: mat.define-palette(mat.$purple-palette);
$yellow-palette: mat.define-palette(mat.$yellow-palette);
$blue-grey-palette: mat.define-palette(mat.$blue-grey-palette);

.green{
  color: mat.get-color-from-palette($green-palette, A200);
}
.bg-green{
  background-color: mat.get-color-from-palette($green-palette, A200);
}
.outline-green{
  outline: 1px solid mat.get-color-from-palette($green-palette, A200);
}

.grey{
  color: mat.get-color-from-palette($grey-palette, 900);
}
.grey-light{
  color: mat.get-color-from-palette($grey-palette, 800);
}
.bg-grey-light{
  background-color: mat.get-color-from-palette($grey-palette, 800);
}
.bg-grey{
  background-color: mat.get-color-from-palette($grey-palette, 900);
}
.bg-blue-grey{
  background-color: mat.get-color-from-palette($blue-grey-palette, 900);
}

.purple{
  color: mat.get-color-from-palette($purple-palette, 700);
}
.bg-purple{
  background-color: mat.get-color-from-palette($purple-palette, 700);
}

.yellow{
  color: mat.get-color-from-palette($yellow-palette, A200);
}
.outline-yellow{
  outline: 0.5px solid mat.get-color-from-palette($yellow-palette, A200);
  outline-offset: -1px;
}
