<section class="section section--dark welcome">
  <mat-card class="card">
    <div class="card__icon-wrapper card__icon-wrapper--right">
      <mat-icon class="yellow card__icon">code</mat-icon>
    </div>
    <mat-card-header>
      <h2 class="section__title">I´m a code lover since 1998</h2>
    </mat-card-header>
    <mat-card-content class="card__content-wrapper bg-grey">
      <p class="text">
        In that year I met for the first time a PC computer. Then I discovered a version of Super
        Mario for MS-DOS that was stored on a 3 1/2 floppy disk...
      </p>
    </mat-card-content>
    <div class="image-wrapper">
      <app-image mat-card-image name="mario_bros"></app-image>
      <app-image mat-card-image name="ms_dos"></app-image>
    </div>

  </mat-card>
</section>
