
.profile-image{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 5px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(315deg,#4A148C,#7b1fa2 50%,#E1BEE7);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.title{
  width: 11ch;
  animation: typing 1s steps(11);
}
