.footer-row{
  justify-content: center;
}

.footer{
  font-size: 1rem;
  font-weight: normal;

  @media (min-width:1024px) {
    flex-direction: row;
  }
}

a{
  display: block;
}

.icon{
  margin: 0 5px;
}
