<mat-toolbar color="primary" class="section footer section--light">
  <mat-toolbar-row class="footer-row">
    <app-social></app-social>
  </mat-toolbar-row>
  <mat-toolbar-row class="footer-row">
    Developed with
    <app-icon class="icon" name="angular"></app-icon>
    and 💚 from Mexico
  </mat-toolbar-row>
  <mat-toolbar-row class="footer-row">
    <a
      href="https://github.com/higueraDev/portfolio/blob/master/LICENSE.md"
      target="_blank"
      matTooltip="Read MIT License on Github"
      >©{{ year }} higueraDev - MIT license</a
    >
  </mat-toolbar-row>
</mat-toolbar>
