<div class="social">
  <a
    href="https://github.com/higueraDev"
    class="link-social"
    target="_blank"
    title="Github Profile"
    ><app-icon [width]="iconWidth" class="icon" name="githubIcon"></app-icon
  ></a>
  <a
    href="https://mx.linkedin.com/in/higueradev"
    class="link-social"
    target="_blank"
    title="Linkedin Profile"
    ><app-icon [width]="iconWidth" class="icon" name="linkedinIcon"></app-icon
  ></a>
  <a
    href="https://mobile.twitter.com/higueradev"
    class="link-social"
    target="_blank"
    title="Twitter Profile"
    ><app-icon [width]="iconWidth" class="icon" name="twitterIcon"></app-icon
  ></a>
</div>
