<div class="social">
  <a
    href="https://github.com/higueraDev"
    class="link-social"
    target="_blank"
    matTooltip="Go Github Page"
    aria-label="Link to Github Profile"
    ><app-icon [width]="iconWidth" class="icon" name="github"></app-icon
  ></a>
  <a
    href="https://mx.linkedin.com/in/higueradev"
    class="link-social"
    target="_blank"
    matTooltip="Go Linkedin Page"
    aria-label="Link to Linkedin Profile"
    ><app-icon [width]="iconWidth" class="icon" name="linkedin"></app-icon
  ></a>
  <a
    href="https://mobile.twitter.com/higueradev"
    class="link-social"
    target="_blank"
    matTooltip="Go Twitter Profile"
    aria-label="Link to Twitter Profile"
    ><app-icon [width]="iconWidth" class="icon" name="twitter"></app-icon
  ></a>
</div>
