<section class="section" [ngClass]="sectionColor">
  <mat-card *ngIf="project" class="card">
    <mat-card-header>
      <h2 class="section__title">{{ project.title }}</h2>
      <p class="section__subtitle">
        <app-icon [matTooltip]="icon.toUpperCase()" matTooltipPosition="above" *ngFor="let icon of project.icons" width="30px" height="30px" color="#69f0ae" [name]="icon"></app-icon>
      </p>
    </mat-card-header>
    <mat-card-content class="card__content-wrapper">
      <app-image [name]="project.image" height="auto"></app-image>
    </mat-card-content>
    <mat-card-actions class="button-wrapper">
      <a
        [href]="project.githubLink"
        target="_blank"
        matTooltip="Watch Code on Github"
        class="button mat-mdc-mini-fab"
      >
        <app-icon width="40px" color="#69f0ae" name="github"></app-icon>
      </a>
      <a
        [href]="project.link"
        target="_blank"
        matTooltip="Watch Live Demo"
        mat-mini-fab
        class="button"
      >
        <mat-icon class="grey-light">play_arrow</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</section>
