
.questions-wrapper {
  width: 100%;
  max-width: 800px;
}

.card {
  position: relative;
  padding: 20px;
}

.wrapper {
  position: absolute;
  z-index: 1;
  top: 0;

  &--right{
    right: 0;
    transform: translate(50%,-50%);
  }
  &--left{
    left: 0;
    transform: translate(-50%,-50%);
  }
}

.icon{
  width: auto;
  height: auto;
  font-size: 10rem;
}


.section__title--introduction{
  margin-left: auto;
}
