<section class="section section--light welcome">
  <mat-card class="card">
    <div class="card__icon-wrapper card__icon-wrapper--left">
      <mat-icon class="yellow card__icon">cottage</mat-icon>
    </div>
    <mat-card-header>
      <h2 class="section__title section__title--right">My favorite place to work is at home</h2>
    </mat-card-header>
    <mat-card-content class="card__content-wrapper bg-grey">
      <p class="text">
        I would like to introduce my coworkers
      </p>
    </mat-card-content>
    <div class="image-wrapper">
      <app-image mat-card-image name="mulan" height="auto"></app-image>
      <app-image mat-card-image name="max" height="auto"></app-image>
    </div>

  </mat-card>
</section>
